body{
    font-family: Arial;
    font-size: 15pt;
    font-style: normal;
    text-align: center;
    background-color: rgb(43, 44, 44);

}

header{
    color: rgb(19, 214, 29);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    justify-content: start;
}


#sec_1{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    margin-right: normal ;
    margin-bottom: 10px;
}
#calculo{
    padding: 3px;
    margin: 3px;
    font-weight: bold;
}
#res_delta_sub{
   
    margin-bottom: 3px;
}
#res_delta{
    margin-top: 3px;
}

#numberA, #numberB, #numberC{
    width: 135px;
    
}
#button_one{
    border: 1px solid rgb(21, 107, 3);
    padding: 5px;
    margin: 5px;
    border-radius: 10px; 
    background-color: unset;
    font-size: 18pt;
    font-weight: bolder;
    margin-bottom: 3px;
}
#button_two{
    display: none;
    border: 1px solid rgb(21, 107, 3);
    padding: 5px;
    margin: 5px;
    border-radius: 10px; 
    background-color: unset;
    font-size: 18pt;
    font-weight: bolder;
    margin-bottom: 3px;
}

#button_one.hover{
    cursor: pointer;
}

#x1{
    margin-bottom: 3px;
}
#x2{
    margin-top: 3px;
}

footer{ 
    font-style: italic;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    }

footer a{
    text-decoration: none;
    color: white;
}