body{
    font-family: Arial;
    font-size: 15pt;
    font-style: normal;
    text-align: center;
    background-color: rgb(43, 44, 44);

}

header{
    color: rgb(19, 214, 29);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    justify-content: start;
}


#sec_1{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    margin-right: normal ;
    margin-bottom: 10px;
}

.calculo {
    padding: 8px;
    margin: 5px ;
    border: 1px solid #ccc;  /* Borda suave */
    border-radius: 5px;
    background-color: #f9f9f9;  /* Fundo levemente cinza */
    font-size: 11pt;
    width: calc(100% - 5px);  /* Ajusta o tamanho do input */
    transition: border-color 0.3s, background-color 0.3s;
}

/* Efeito ao focar na caixa de entrada */
.calculo:focus {
    border-color: rgb(0, 0, 0);  /* Cor de borda ao focar */
    background-color: #fff;  /* Fundo branco ao focar */
    outline: none;  /* Remove o contorno padrão do navegador */
}

/* Remove os spinners nos navegadores (Chrome, Safari, Edge) */
.calculo::-webkit-outer-spin-button,
.calculo::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove os spinners no Firefox */
.calculo[type="number"] {
    -moz-appearance: textfield;
}


#res_delta_sub{
   
    margin-bottom: 3px;
}
#res_delta{
    margin-top: 3px;
}

#numberA, #numberB, #numberC{
    width: 135px;
    
}

/* Efeito de nos botões*/

.custom-button {
    border: 1px solid rgb(21, 107, 3);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-size: 18pt;
    font-weight: bolder;
    margin-bottom: 3px;
    transition: background-color 0.3s, color 0.3s;
}


.custom-button:hover {
    background-color: rgb(4, 107, 27);
    color: white;
    cursor: pointer;
}

.custom-button:focus {
    outline: 2px solid rgb(0, 0, 0);
}


#button_two {
    display: none;
}


#x1{
    margin-bottom: 3px;
}
#x2{
    margin-top: 3px;
}

footer{ 
    font-style: italic;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    }

footer a{
    text-decoration: none;
    color: white;
}